// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body.home {
	// background-color: $black;
	background-attachment: fixed;
	background-image: url("../img/bg1.jpg");
	background-position: center;
}

.HudOverlay {
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;

	.HudOverlay-fullBorder {
		position: absolute;
		height: calc(100% - 70px);
		top: 45px;
		width: calc(100% - 46px);
		left: 20px;
		stroke-width: 1px;
		fill: rgba(255,255,255,0.17);
		stroke: #c9c9c9;

	}
}


// Spin animation
@keyframes spin {
	to { transform: rotate(360deg); }
}

.stroke-solid {
	fill: transparent;
	stroke: $rrlimegreen;
	stroke-dashoffset: 0;
	stroke-dashArray: 300;
	stroke-width: 2px;
	transition: stroke-dashoffset 1s ease, 
	opacity 1s ease;
}

.pathicon {
	fill: $white;
	stroke: $white;
	transform: scale(.8);
	transform-origin: 50% 50%;
	transition: transform 200ms ease-out;
}

// Hover
#play:hover {
	.stroke-solid {
		opacity: 1;
		stroke-dashoffset: 300;
	}
	.pathicon {
		transform: scale(.9);
	}
}

#play {
	cursor: pointer;
	transform: scale(0.3);
}

.typewriter {

	p {
		overflow: hidden;
		white-space: nowrap; 
		margin: 0 auto;
		letter-spacing: 1px;
		@include transition(all 3.5s ease);
		animation: typing 3.5s steps(50, end);

		&:hover {
		}
	}
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}
