// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.clear:before,
.clear:after {
	@include clearfix;
}

.clear:after {
	@include clearfix-after;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

.page-template-page-videos {
	#page {
		position: relative;
	}
}

svg.lines {
	height: 100%;
	width: 100%;;
	position: absolute;
	top: 0;
	opacity: 0.5;
	z-index: 1;

	line {
		stroke: #c9c9c9;
		stroke-width: 1;
		stroke-linecap: butt;
	}
}

svg.circlerotate {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 1100px;
	margin-top: -550px;
	margin-left: -550px;
	width: 1100px;
	opacity: 0.5;
	z-index: 1;

	circle {
		fill: rgba(0,0,0,0);
		stroke: #c9c9c9;
		stroke-width: 1;
		stroke-dasharray: 3,8;

	}
}

.HudOverlayme {
	position: absolute;
	top: 0;
	height: 99%;
	width: 100%;
}

.HudOverlay {
	left: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 480px;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;

	.subHudOverlay {
		height: 480px;
		width: 100%;
	}

	.HudOverlay-fullBorder {
		height: 100%;
		width: 100%;
		stroke-width: 1px;
		stroke: #c9c9c9;
	}

	.HudOverlay-fill {
		clip-path:url(#SVGID_4_);
		opacity: 0.50;
	}

	.path {
		fill: #00000080;
	}

	.HubOverlay--Blur {
		clip-path:url(#HubOverlay--Blur);
		filter:url(#blurlayer);
	}

	&:before {
		content: "";
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.80);
		position: absolute;
		z-index: -1;
	}

	image {
		height: 110%;
		overflow: visible;
		width: 100%;
	}
}

.polygon {
	fill: $white;
}

.page-template-reset-password,
.page-template-forgot-password,
.page-template-sign-up,
.page-template-login,
.page-template-dashboard,
.page-template-profile,
.page-template-videos-list,
.page-template-add-video,
.page-template-submit-idea,
.page-template-fav-videos,
.page-template-fav-experiments {
	overflow-y: hidden;
}

.page-template-reset-password,
.page-template-forgot-password,
.page-template-login,
.page-template-sign-up,
.page-template-dashboard,
.page-template-profile,
.page-template-videos-list,
.page-template-add-video,
.page-template-submit-idea,
.page-template-fav-videos,
.page-template-fav-experiments,
.home {
	.HudOverlay {
		height: 100%;
		z-index: -1;
	}
}

.singlepost--hud ,
.subpage--hud {
	display: table;
	height: 480px;
	width: 100%;

	.singlepost--content ,
	.subpage--content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	h1, h2, h3, h4, h5, p, a {
		color: $white !important;
	}

	h1 {
		font-weight: 600;
	}

	p {
		// text-align: left;
		&.highlight {
			margin-bottom: 40px;
		}
	}

	.search-form {
		margin-bottom: 15px;
	}
}

.content--overflow {
	.singlepost--content {
		position: relative;
		top: 30%;
		z-index: 2;

		.content--overflow_wrapper {
			height: 520px;
			max-height: 520px;
			overflow: hidden;
			position: relative;
			width: 100%;
		}

		img {
			height: 100%;
			left: 50%;
			max-width: none;
			position: absolute;
			@include translate(-50%, 0);
			width: auto;
		}

		iframe {
			height: 100%;
			width: 100%; 
		}
	}
}

.content--overflow + .single_main {
	background-color: #eeeeee;
	padding-top: 175px;
}

.singlepost--hud {
	height: 480px;
	width: 100%;

	&.content--overflow {
		background-color: #eeeeee;

		.HudOverlay {
			z-index: 1;
		}
	}
}

.post-thumbnail {
	background-size: cover;
	height: 262px;
	overflow: hidden;
	position: relative;

	span.blackbg {
		background: rgba(0, 0, 0, 0.04);
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		left: 0;
		z-index: 1;
	}

	span.whitebg {
		background: rgba(250, 250, 250, 0.15);
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		left: 0;
		z-index: 1;
	}

	img {
		// display: none;
		height: 262px;
		left: 50%;
		max-width: none;
		top: 50%;
		@include translate(-50%,-50%);
		position: absolute;
		width: auto;
	}

	&.portrait img {
		height: auto;
		width: 100%;
	}
}