.hide-show{
  width: 95%;
  margin: -3em 3% 0 1.5%;
  position: relative;
  z-index: 5;
  display: none;

  span {
    background: #fff;
    font-size: 1em;
    padding: .5em;
    float: right;
    @include border-radius(5px);
    cursor: pointer;
  }
}