
//*******************************************//
//** Main Title Starts **//
.hexagon {
	cursor: pointer;
	height: 55px;
	overflow: hidden;
	@include rotate(120);
	width: 50px;

	.hexagon-in1 {
		height: 100%;
		overflow: hidden;
		@include rotate(-60);
		width: 100%;
	}

	.hexagon-in2 {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100%;
		@include rotate(-60);
		width: 100%;
	}
}

.home {
	.site-title,
	.site-menu,
	.site-toplogin_btn {
		position: fixed;
		z-index: 1;
	}
}

.site-toplogin_btn {
	position: absolute;
	left: 6%;
	top: 20px;

	.hex {
		position: relative;
		width: 50px; 
		height: 28.87px;
		background-color: #64C7CC;
		margin: 14.43px 0;
	}

	.hex:before,
	.hex:after {
		content: "";
		position: absolute;
		width: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
	}

	.hex:before {
		bottom: 100%;
		border-bottom: 14.43px solid #64C7CC;
	}

	.hex:after {
		top: 100%;
		width: 0;
		border-top: 14.43px solid #64C7CC;
	}
}

.site-title {
	left: 50%;
	position: absolute;
	@include translateX(-50%);
	z-index: 502;

	a {
		display: block;
		margin: auto;
		position: relative;
		text-align: center;
		width: 350px;
		z-index: 1;

		.logo_img {
			// @include opacity(0);
			transition: opacity 200ms ease-in 1.2s;
			width: 80%;
			margin-top: -10px;
		}

		.site-title-border {
			position: absolute;
			width: 16px;
			height: 42px;
			top: 30%;
			margin-top: -17px;
			stroke: $white;
			fill: none;
			// @include opacity(0);
			transform: matrix(1, 0, 0, 1, 0, 0);

			rect {
				stroke: $rrskyblue;
			}

			circle {
				fill: $rrskyblue;
				stroke: $rrskyblue;
			}
		}

		.site-title-border--left {
			left: 30px;
			transition: opacity 500ms ease-in 1s, left 500ms ease-in 1s;
		}

		.site-title-border--right {
			right: 30px;
			@include scale(-1);
			transition: opacity 500ms ease-in 1s, right 500ms ease-in 1s;
		}
	}
}
//** Main Title Ends **//
//*******************************************//
//** Main Menu Starts **//

.page-template-page-videos {
	.site-toplogin_btn,
	.site-menu {
		top: 10px;
	}

}

.site-menu {
	position: absolute;
	right: 7%;
	top: 3%;
	z-index: 500;
}

.menu_butt__close {
	position: fixed;
	right: 7%;
	top: 5%;

	&:hover {
		text-decoration: none;
	}
}

.menu__wrapper {
	left: 50%;
	position: absolute;
	@include translate(-50%, -50%);
	top: 55%;
}

.menu-content {
	// background: rgba(1,8,18,0.93);
	background-image: url(../img/imgbg_menu.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	top: 0;
	margin: 0;
	@include opacity(0);
	padding: 0;
	position: fixed;
	@include transition(all 0.2s ease);
	visibility: hidden;
	width: 100%;
	z-index: 501;

	&.opened {
		@include opacity(1);
		visibility: visible;
		@include transition(all 0.4s ease);

		.menu-content__wrapper {
			height: 400px;
			width: 600px;
		}
	}

	.menu-content__nav--login {
		left: 50%;
		position: absolute;
		top: 10px;
		@include translate(-50%, -20px);

	}

	.menu-content__wrapper {
		color: $white;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 300px;
		margin: auto;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		width: 500px;

		.menu-content__nav {
			position: relative;
			width: 100%;
			height: 100%;

			.menu-content__nav--label {
				color: $white;
				font-size: 10px;
				font-weight: 400;
				left: 45px;
				top: -6px;
				@include opacity(0.4);
				position: absolute;
			}

			.menu-content__list {
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%, -50%);
				width: 100%;

				ol {
					counter-reset: item;
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						margin-bottom: 20px;

						&:before {
							content: "0" counter(item);
							counter-increment: item;
							border-bottom: 1px solid $rrlimegreen;
							color: $rrlimegreen;
							display: inline-block;
							font-size: 15px;
							height: 29px;
							letter-spacing: 1px;
							margin-right: 20px;
							padding-bottom: 7px;
							vertical-align: bottom;
						}

						a {
							color: $white;
							display: inline-block;
							font-size: 30px;
							vertical-align: middle;
							line-height: 30px;


							&:hover {
								color: $rrlimegreen;
								text-decoration: none;
							}

							&:last-child {
								margin: 0;
							}
						}
						&.current-menu-item {
							a {
								color: $rrlimegreen;
							}
						}

					}
				}
			}
		}
	}
}

.corner {
	border: 1px solid rgba(255, 255, 255, 0.4);
	height: 40px;
	position: absolute;
	width: 40px;

	&.corner-top-left {
		border-bottom: none;
		border-right: none;
		top: 0;
		left: 0;
	}

	&.corner-top-right {
		border-bottom: none;
		border-left: none;
		top: 0;
		right: 0;
	}

	&.corner-bottom-left {
		border-top: none;
		border-right: none;
		bottom: 0;
		left: 0;
	}

	&.corner-bottom-right {
		border-top: none;
		border-left: none;
		bottom: 0;
		right: 0;
	}
}

.menu-content {
	.corner {
		@include opacity(0);
		transition-timing-function: cubic-bezier(0.7, 0.01, 0.37, 1);
	}
	.menu-content__nav--label {
		@include opacity(0);
		transition-timing-function: cubic-bezier(0.7, 0.01, 0.37, 1);
		@include translate(-20px, -20px);
	}

	.corner-top-left {
		@include translate(-20px, -20px);
	}
	.corner-top-right {
		@include translate(20px, -20px);
	}
	.corner-bottom-left {
		@include translate(-20px, 20px);
	}
	.corner-bottom-right {
		@include translate(20px, 20px);
	}
}

.menu-content.opened {
	.corner {
		@include opacity(1);
		-webkit-transition: opacity 0.4s, -webkit-transform 0.7s;
		-moz-transition: opacity 0.4s, transform 0.7s;
		-ms-transition: opacity 0.4s, transform 0.7s;
		-o-transition: opacity 0.4s, transform 0.7s;
		transition: opacity 0.4s, transform 0.7s;
		-webkit-animation: menu-blink-corner 0.7s forwards;
		-moz-animation: menu-blink-corner 0.7s forwards;
		-ms-animation: menu-blink-corner 0.7s forwards;
		-o-animation: menu-blink-corner 0.7s forwards;
		animation: menu-blink-corner 0.7s forwards;
		@include translate(0,0);
	}

	.corner-top-right {
		transition-delay: 0.1s;
	}

	.corner-bottom-left {
		transition-delay: 0.2s;
	}

	.corner-bottom-right {
		transition-delay: 0.3s;
	}

	.menu-content__nav--label {
		@include transition(transform 0.7s);
		@include translate(0,0);
		-webkit-animation: menu-blink-menu 0.7s forwards;
		-moz-animation: menu-blink-menu 0.7s forwards;
		-ms-animation: menu-blink-menu 0.7s forwards;
		-o-animation: menu-blink-menu 0.7s forwards;
		animation: menu-blink-menu 0.7s forwards;
	}
}

@-moz-keyframes menu-blink-corner {
	0% { border-color: rgba(255, 255, 255, 0)	}
	50% { border-color: rgba(255, 255, 255, 0.8)	}
	100% { border-color: rgba(255, 255, 255, 0.3)	}
}

@-webkit-keyframes menu-blink-corner {
	0% { border-color: rgba(255, 255, 255, 0)	}
	50% { border-color: rgba(255, 255, 255, 0.8)	}
	100% { border-color: rgba(255, 255, 255, 0.3)	}
}

@-o-keyframes menu-blink-corner {
	0% { border-color: rgba(255, 255, 255, 0)	}
	50% { border-color: rgba(255, 255, 255, 0.8)	}
	100% { border-color: rgba(255, 255, 255, 0.3)	}
}

@keyframes menu-blink-corner {
	0% { border-color: rgba(255, 255, 255, 0)	}
	50% { border-color: rgba(255, 255, 255, 0.8)	}
	100% { border-color: rgba(255, 255, 255, 0.3)	}
}

@-moz-keyframes menu-blink-menu {
	0% { opacity: 0	}
	50% { opacity: 0.8	}
	100% { opacity: 0.3	}
}

@-webkit-keyframes menu-blink-menu {
	0% { opacity: 0	}
	50% { opacity: 0.8	}
	100% { opacity: 0.3	}
}

@-o-keyframes menu-blink-menu {
	0% { opacity: 0	}
	50% { opacity: 0.8	}
	100% { opacity: 0.3	}
}

@keyframes menu-blink-menu {
	0% { opacity: 0	}
	50% { opacity: 0.8	}
	100% { opacity: 0.3	}
}

.search-form {
	clear: both;
	height: 50px;
	margin-bottom: 50px;

	input {
		background-color: #ffffff40 !important;
		border: none;
		color: $white;
		float: left;
		font-size: 1.333rem;
		padding: 15px 10px;
		height: 50px !important;
		width: calc(100% - 60px);

		&:focus {
			outline: 0;
		}
	}

	button {    
		background-color: #ffffff40 !important;
		border: 0;
		color: $white;
		cursor: pointer;
		font-size: 2rem;
		float: left;
		height: 50px;
		padding-right: 20px;
		vertical-align: top;
		width: 60px;

		&:focus {
			outline: none;
		}
	}
}



//** Main Menu Ends **//
//*******************************************//
//** Footer Starts **//

.scrolling {
	bottom: 10%;
	cursor: pointer;
	right: 2%;
	position: fixed;

	&.up--button .headerbutt .hexagon-icon {
		@include rotate(180);
	}
}



.menu-content__footer {
	bottom: 15px;
	position: absolute;
	left: 50%;
	@include translateX(-50%);

	ul#menu-footer-menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			&:after {
				content: " | ";
				margin: 0 5px;
			}

			&:last-child:after {
				content: " ";
				margin: 0;
			}
		}
	}
}

.small-text {
	color: #a9c6e1;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;

	a {
		color: #a9c6e1;

		&:hover {
			border-bottom: 1px solid $rrlimegreen;
			padding-bottom: 4px;
			text-decoration: none;
		}
	}
}

.footer-nav-link {
	a {
		text-transform: uppercase;
		color: #a9c6e1;
		font-size: 0.8rem;
		font-weight: 700;
		text-decoration: none;
		padding: 0px 4px;
		transition: color 0.4s linear;

		&:hover {
			border: 1px solid $rrlimegreen;
		}
	}
}

.page-template-forgot-password,
.page-template-sign-up,
.page-template-login,
.page-template-dashboard,
.page-template-profile,
.page-template-videos-list,
.page-template-add-video,
.page-template-submit-idea,
.page-template-fav-videos,
.page-template-fav-experiments,
.home {
	#wrapper-footer {
		background-color: transparent;
		bottom: 0;
		color: #a9c6e1;
		position: absolute;
		width: 100%;
	}
}

#wrapper-footer {
	background-color: #eee;
	color: $black;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 46px;
	letter-spacing: 1px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	.site-footer {
		p {
			margin: 0;
		}
	}
}

.page-template-page-videos {
	// padding-bottom: 66px;
	#wrapper-footer {
		background-color: transparent;
		bottom: 0;
		color: $white;
		position: absolute;
	}
}

//** Main Menu Ends **//
//*******************************************//
