.home {
	overflow: hidden;
	h1, h2, h3, h4, h5 {
		color: $white !important;
	}
}

#loadingbay {
	background-color: $black;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
}

#lottie{
	background-color: $black;
	width: 120%;
	height: 120%;
	margin: auto;
	top: -10%;
	left: -10%;
	position: absolute;
	display:block;
	overflow: hidden;
	transform: translate3d(0,0,0);
	text-align: center;
	opacity: 1;
}

.progress--logo {
	position: absolute;
	width: 30%;
	left: 50%;
	transform: translate(-50%,0);
	top: 10%;
}

.progress--wrap { 
	overflow: hidden;
	padding: 0;
	left: 50%;
	bottom: 10%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 135px;

	.progression { 
		color: $white;
		display: inline-block;
		letter-spacing: 2px;
		overflow: hidden;

		&.count-wrap {
			min-width: 25px;
			.count {
				color: $rrlimegreen;
			}
		}

		.divider {
			margin: 0 10px;
		}
	} 
}


.chapter-selector {
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 4%;
	top: 50%;
	text-align: right;
	transform: translateY(-50%);
	z-index: 2;

	li {
		border-right: 1px solid hsla(0,0%,100%,.5);
		color: hsla(0,0%,100%,.5);
		cursor: pointer;
		font-size: 10px;
		letter-spacing: 1px;
		padding-bottom: 10px;
		padding-right: 12px;
		pointer-events: auto;
		position: relative;
		text-transform: uppercase;
		transition: padding-bottom .5s, padding-top .5s;
		white-space: nowrap;

		&:before {
			content: "";
			background-color: $white;
			width: 4.5px;
			height: 5.5px;
			position: absolute;
			margin-top: 4px;
			border-radius: 50%;
			right: -2.5px;
			@include transition(background-color .5s);
		}

		a {
			color: $white;

			&:hover {
				text-decoration: none;
			}
		}

		&:after {
			border: 1px solid $white;
			content: "";
			width: 21px;
			height: 21px;
			position: absolute;
			margin-top: -4px;
			border-radius: 50%;
			right: -11px;
			@include opacity(0);
			@include transition(opacity .5s ease);
		}

		&:last-child {
			padding-bottom: 0;
			&:before {
				margin-top: 5px;
			}

			&:after {
				margin-top: -4px;
			}
		}

		&.active {
			padding-bottom: 60px;

			a {
				color: $rrlimegreen;
			}

			&:before {
				background-color: $rrlimegreen;
			}

			&:after {
				opacity: 1;
				@include transition(opacity .1s ease);
			}

			&:last-child {
				padding-bottom: 0;
				padding-top: 48px;
			}
		}
	}
}

.section {
	h1 {
		color: $white;
		text-transform: uppercase;
	}

	.welcome_content {
		color: $white;
		text-align: center;

		.welcome_text {
			color: $white;
		}
	}

	.sub_content {
		color: $white;
	}
}

// Spin animation
@keyframes spin {
	to { transform: rotate(360deg); }
}

.stroke-solid {
	fill: transparent;
	stroke: $rrlimegreen;
	stroke-dashoffset: 0;
	stroke-dashArray: 300;
	stroke-width: 2px;
	transition: stroke-dashoffset 1s ease, 
	opacity 1s ease;
}

.pathicon {
	fill: $white;
	stroke: $white;
	transform: scale(.8);
	transform-origin: 50% 50%;
	transition: transform 200ms ease-out;
}

/* The typing effect */
@keyframes typing {
	from { width: 0; animation-timing-function: ease-out; }
	to { width: 100%; animation-timing-function: ease-out; }
}

.watch_video--typewriter {
	cursor: pointer;
	margin: 50px auto 0;
	overflow: hidden;
	padding-bottom: 5px;
	width: 250px;

	.watch_video--button {
		float: left;
		height: 50px;
		margin-right: 10px;
		position: relative;
		vertical-align: middle;
		width: 50px;

		.watch_video--play {
			position: absolute;
			left: -50%;
			top: -50%;
			@include scale(0.5);
		}
	}

	.watch_video--text {
		float: left;
		vertical-align: middle;

		p {
			color: $rrlimegreen;
			display: flex;
			font-size: 1.6rem;
			justify-content: left;
			@include transition(all 1.5s linear);
			vertical-align: middle;

			span {
				letter-spacing: 1px;
				margin: 0;
				overflow: hidden;
				white-space: nowrap; 
			}
		}
	}

	&:hover {
		.watch_video--play {
			.stroke-solid {
				@include opacity(1);
				stroke-dashoffset: 300;
			}
			.pathicon {
				@include scale(1);
			}
		}

		span {
			animation: typing 0.4s steps(50, end);
		}
	}
}

.featured_video--carousel_wrapper {
	display: inline-block;
	// vertical-align: middle;
	vertical-align: -240px;
	width: 420px;

	.featured_video--carousel {
		.double_arrow {
			cursor: pointer;
			margin: auto;
			text-align: center;
		}

		.slick-list {
			margin: 25px auto;

			.video_slide {

				img {
					height: 345px;
				}

				h3 {
					margin-top: 20px;
				}
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}


.fullpagecounter {
	bottom: 16%;
	margin: 0;
	position: absolute;
	right: 3.6%;
}

.fullpagecounter,
.pagingInfo {
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
	margin-left: 25px;
	vertical-align: middle;

	.counting {
		color: $rrlimegreen;
		@include transition(all 500ms ease);
	}

	.totalcount {
		color: $white;
		&:before {
			border-top: 1px solid $rrlimegreen;
			content: "";
			display: block;
			margin: 10px 0;
			width: 25px;
		}
	}
}

.bg-opaque {
	bottom: -5px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 30%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 30%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 30%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 30%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 30%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	@include transition(opacity .1s ease);
	position: absolute;
	height: 60%;
	width: 100%;
}

.animate--box {
	display:block;
	height: 2rem;
	pointer-events: none;
	position: absolute;
	width: 2rem;
	z-index: 20;

	&.topbox {
		background-color: $rrskyblue;
		top: -3rem;
		right: 15px;
		@include transition(right .1s ease);
	}

	&.bottombox {
		background-color: $rrlimegreen;
		bottom: -3rem;
		left: -15px;
		@include transition(left .1s ease);
	}
}

.featured_experiment--keywords {
	a {
		display: block;
		margin-bottom: 30px;
		height: 191px;
		position: relative;
		overflow: hidden;
		width: 100%;


		.post-thumbnail {
			height: 100%;
			
			img {
				height: 100%;
				left: 50%;
				max-width: none;
				top: 50%;
				@include translate(-50%,-50%);
				position: absolute;
				width: auto;
			}

			h3 {
				bottom: 15px;
				left: 15px;
				position: absolute;
			}
		}

		&:hover {
			.bg-opaque {
				@include opacity(0);
			}
		}
	}

	.hover--topbox {
		&:hover {
			~ .topbox {
				right: 50px;
			}
		}
	}
	
	.hover--bottombox {
		&:hover {
			~ .bottombox {
				left: 50px;
			}
		}
	}
}

.explorer_slide {
	text-align: center;

	.post-thumbnail {
		height: 182px;
		margin: 0 auto 40px;
		overflow: hidden;
		position: relative;
		width: 182px;

		img {
			height: 112px;
			left: 50%;
			max-width: none;
			top: 50%;
			@include translate(-50%,-50%);
			position: absolute;
			width: auto;
			@include transition(height 500ms ease-in-out);

			&.running_icon {
				@include opacity(0);
			}

			&.paused_icon {
				@include opacity(1);
			}
		}
	}

	p {
		margin: auto;
		width: 80%;
	}

	&.slick-center {
		.post-thumbnail {
			img {
				height: 185px;
				@include transition(height 500ms ease-in-out);

				&.running_icon {
					@include opacity(1);
				}

				&.paused_icon {
					@include opacity(0);
				}
			}
		}

		&.slick-current .post-thumbnail {
			margin: 0 auto 40px;
		}
	}
}

// .explorer_slide.slick-active .post-thumbnail {
	// 	margin-left: 0;
	// }

	// .explorer_slide.slick-slide.slick-active[tabindex="0"]:not(.slick-current) .post-thumbnail {
		// 	margin-left: auto;
		// 	margin-right: 0;
		// }

		.featured_trailbazers {

			.trailblazer--title {
				font-weight: 600;
			}

			.trailblazer--name {
				color: $rrskyblue !important;
				font-weight: 600;
			}
		}

		.animated_circles--wrapper {
			.animated_circles {
				left: 10px;
				position: relative;

				svg.circle {
					circle {
						fill: transparent;
						stroke: $white;
						stroke-width: 1px;
					}

					rect {
						fill: none; 
						stroke: none;
					}
				}

				svg.line {
					position: absolute;
					top: 9px;
					left: -10px;
					width: 100%;

					rect {
						fill: none; 
						stroke: $white;
						@include scaleX(0);
						@include transition(all 0.5s ease);
					}
				}
			}

			.post-thumbnail {
				height: 350px;
				margin-bottom: 17px;
			}

			img {
				height: 470px;
				@include grayscale(100%);
				@include transition(all 0.5s ease);
			}

			&:hover {
				.animated_circles .line rect {
					transform: scaleX(1);
				}
				
				img {
					@include grayscale(0);
				}
			}
		}

		.featured_event {
			.post-thumbnail {
				height: 250px !important;

				img {
					height: 300px;
				}

				h3 {
					font-weight: 700;
					position: absolute;
					bottom: 0;
					left: 25px;
					z-index: 1;
				}
			}
		}

<<<<<<< HEAD
		.featured--upcoming_event {
			margin-bottom: 20px;
=======
.featured_trailbazers--img {

	.post-thumbnail {
		img {
			height: 120%;;
		}
	}
}

.featured_event {
	.post-thumbnail {
		height: 250px !important;

		img {
			height: 300px;
		}
>>>>>>> f518df8b00f4f8cf53197e2c35b10eb914b38511

			.post_date + p {
				margin-bottom: 15px;
			}
		}

		.post_date {
			color: $rrskyblue;
			font-size: 14px;
			font-weight: 400;
			line-height: 100%;

			i {
				margin-right: 5px;
			}
		}

		.typewriter {
			color: $rrlimegreen;
			font-size: 1.6rem;
			font-weight: 400;
			text-transform: uppercase;
		}

		#welcome-video {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;
			z-index: -1;
		}