.entry-content {
	margin-bottom: 50px;

	h2, h3 , h4 {
		color: $black;

	}
}

.singlepost--content,
.event_summary,
.entry-gallery,
.entry-comments {

	h2, h3 , h4 {
		color: $black;

	}
	.highlight {
		color: $rrskyblue;
	}
}

.entry-gallery--wrapper {
	a {
		display: inline-block;
		margin: 0 30px 30px 0;
		height: 150px;
		width: 150px;
		background: black;
		vertical-align: top;

		&:nth-child(5n) {
			margin: 0 0 30px;
		}
	}
}

//social media has icon and name
.addthis_inline_share_toolbox {
	.at-icon-wrapper.at-share-btn {
		background-color: transparent !important;
		border-bottom: 1px solid #7f7f7f !important;
		margin: 0 !important;
		width: 100%;

		span {
			color: $black !important;
		}

		&.at-svc-facebook {
			svg {
				fill: rgb(59, 89, 152) !important;
			}
		}

		&.at-svc-twitter {
			svg {
				fill: rgb(29, 161, 242) !important;
			}
		}

		&.at-svc-lineme {
			svg {
				fill: rgb(0, 195, 0) !important;
			}
		}

		&.at-svc-compact {
			svg {
				fill: rgb(255, 101, 80) !important;
			}
		}

		&.at-svc-whatsapp {
			svg {
				fill: rgb(77, 194, 71) !important;
			}
		}

		&:hover {
			transform: none !important;

			span {
				color: $white !important;
			}

			&.at-svc-facebook {
				background-color: rgb(59, 89, 152) !important;
				svg {
					fill: $white !important;
				}
			}

			&.at-svc-twitter {
				background-color: rgb(29, 161, 242) !important;
				svg {
					fill: $white !important;
				}
			}

			&.at-svc-lineme {
				background-color: rgb(0, 195, 0) !important;
				svg {
					fill: $white !important;
				}
			}

			&.at-svc-compact {
				background-color: rgb(255, 101, 80) !important;
				svg {
					fill: $white !important;
				}
			}

			&.at-svc-whatsapp {
				background-color: rgb(77, 194, 71) !important;
				svg {
					fill: $white !important;
				}
			}
		}
	}
}

//social media has icon only
.addthis_inline_share_toolbox_dznu {
	.at-style-responsive .at-share-btn {
		border-radius: 30px !important;
	}
}

.acf-map {
	border: #ccc solid 1px;
	height: 390px;
	margin: 20px 0;
	width: 100%;
}

.single_experiment,
.single_trailblazers {
	.single_experiment--row,
	.single_trailblazers--row {
		justify-content: center;
		align-items: center;
		height: 100%; 


		.post-thumbnail {
			height: 400px;

			img {
				height: 400px;
			}
		}

		.single_experiment--col,
		.single_trailblazers--col {
			min-height: 550px;
		}
	}

	.single_experiment--methods,
	.single_trailblazers--profile {
		color: $white;
		height: 100vh;

		&.single_experiment--methods {
			background-color: $rrblue;

		}

		&.single_trailblazers--profile {
			background-color: #3d4b57;

		}

		.single_experiment--methods_wrapper,
		.single_trailblazers--profile_wrapper {
			height: 100%;

			h1 {
				color: $white;
				text-transform: uppercase;
			}

			h2 {
				color: $white;
			}

			p.highlight {
				color: $rrskyblue;
				text-transform: uppercase;
			}
		}

	}
	
	.single_experiment--materials, 
	.single_trailblazers--video {
		background-color: #dbdad6;
		height: 100vh;

		h1 {
			color: $black;
			text-transform: uppercase;
		}
		
		h3 {
			color: $black;
		}

		.single_trailblazers--iframe {
			height: 251px;
			margin-bottom: 20px;
			width: 100%;

			iframe {
				height: 100%;
				width: 100%;
			}
		}

		&.single_experiment--materials {
			a {
				color: $black;
				font-size: 1.24688rem;

				&:hover {
					color: $rrlimegreen;
					text-decoration: none;
				}
				&:last-child {
					margin-left: 30px;
				}
			}
		}
	}
}

.single-genaero_experiments {
	h2 {
		text-align: left;
		text-transform: uppercase;
	}
	.experiment-meta {
		color: $rrskyblue;
		margin-bottom: 30px; 
		text-align: left;

		.meta-date {
			display: inline-block;
			width: 150px;

			i {
				margin-right: 5px;
			}
		}

		.meta-keywords {
			display: inline-block;
			width: calc(100% - 160px);

			a {
				color: $rrskyblue !important;
				font-style: italic;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.experiment--link {
		position: relative;

		.arrowbtn {
			position: absolute;
			left: 50%;
			@include translate(-50%, -50%);
			top: 50%;
		}
	}
}

.single_experimentcaraousel--wrapper {
	height: 80%;
	width: calc(100% - 15px);
	overflow: hidden;

	.experiment--wrapperhidbar {
		overflow-y: scroll;
		width: calc(100% + 20px);

		.experiment--carousel {
			width: 85%;
			margin: auto;


			.double_arrow.small_arrow.arrow_left {
				left: -8%;
			}

			.double_arrow.small_arrow.arrow_right {
				right: -8%;
			}

			.experiment_counts {
				display: inline-block;
				font-size: 24px;
				font-weight: 400;
				margin-right: 25px;  
				vertical-align: top;
				width: 25px;

				.counting {
					color: $rrlimegreen;
					@include transition(all 500ms ease);
				}

				.totalcount {
					&:before { 
						border-top: 1px solid $rrlimegreen;
						content: "";
						display: block;
						margin: 10px 0;
						width: 25px;
					}
				}
			}

			.tried_experiement {
				background-color: #0e3e66;
				margin-top: 40px;
				padding: 35px 55px;

				h3 {
					color: $white;
				}
			}

			.experiment_steps {
				border-left: 1px solid $white;
				display: inline-block;
				min-height: 100px;
				padding-left: 25px;
				vertical-align: top;
				width: calc(100% - 105px);

				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.faved {
	color: $rrlimegreen;
	i {
		color: $rrlimegreen;
	}
}