.section.fp-section {
	svg {
		@include opacity(0);
		@include transition(opacity 0.4s ease);
	}

	.site-title a.site-title-border--left,
	.site-title a.site-title-border--right,
	.site-title a .logo_img,
	.welcome_content,
	.sub_content {
		@include opacity(0);
		@include transition(opacity 0.6s ease);
	}

	&.active {
		.site-title a.site-title-border--left,
		.site-title a.site-title-border--right,
		.site-title a .logo_img,
		svg {
			visibility: inherit; 
			@include opacity(1);
			-webkit-transition-delay: 0.4s; /* Safari */
			transition-delay: 0.4s;
		}

		.welcome_content,
		.sub_content {
			visibility: inherit; 
			@include opacity(1);
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
		}


		.site-title a {
			.site-title-border--left {
				left: 0;
			}

			.site-title-border--right {
				right: 0;
			}
		}
	} 
}


@-webkit-keyframes infinite-spinning {
	from {
		@include rotate(0);
	}
	to {
		@include rotate(360);
	}
}

@-moz-keyframes infinite-spinning {
	from {
		@include rotate(0);
	}
	to {
		@include rotate(360);
	}
}

@-o-keyframes infinite-spinning {
	from {
		@include rotate(0);

		@include rotate(360);
	}
	to {
		@include rotate(0);

		@include rotate(360);
	}
}

@keyframes infinite-spinning {
	from {
		@include rotate(0);
	}
	to {
		@include rotate(360);
	}
}

@-webkit-keyframes infinite-spinning-alt {
	from {
		@include rotate(360);
	}
	to {
		@include rotate(0);
	}
}

@-moz-keyframes infinite-spinning-alt {
	from {
		@include rotate(360);
	}
	to {
		@include rotate(0);
	}
}

@-o-keyframes infinite-spinning-alt {
	from {
		@include rotate(360);
	}
	to {
		@include rotate(0);
	}
}

@keyframes infinite-spinning-alt {
	from {
		@include rotate(360);
	}
	to {
		@include rotate(0);
	}
}

.tiny-stars {
	position: absolute;
	top: -15%;
	@include opacity(1);
	left: 50%;
	margin-left: -528px;
	z-index: 1;
	-webkit-animation: infinite-spinning 40s infinite linear;
	-moz-animation: infinite-spinning 40s infinite linear;
	-o-animation: infinite-spinning 40s infinite linear;
	animation: infinite-spinning 40s infinite linear
}

.middle-stars {
	margin-left: -538px;
	@include opacity(0.5);
	-webkit-animation: infinite-spinning 30s infinite linear;
	-moz-animation: infinite-spinning 30s infinite linear;
	-o-animation: infinite-spinning 30s infinite linear;
	animation: infinite-spinning 30s infinite linear
}

.planet-big {
	z-index: 2;
	@include opacity(0.5);
	position: relative;
	margin: -6% auto 0;
	vertical-align: middle;
	width: 944px;
	height: 944px;
	background-image: url(../img/planet-big-with-orbits.png);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.round-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	background-color: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: rot 10s infinite linear;
	-moz-animation: rot 10s infinite linear;
	-o-animation: rot 10s infinite linear;
	animation: rot 10s infinite linear;
}
.round-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	background-color: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: rot-back 6s infinite linear;
	-moz-animation: rot-back 6s infinite linear;
	-o-animation: rot-back 6s infinite linear;
	animation: rot-back 6s infinite linear;
}
.round-3 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	background-color: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: rot 34s infinite linear;
	-moz-animation: rot 34s infinite linear;
	-o-animation: rot 34s infinite linear;
	animation: rot 34s infinite linear;
}
.round-4 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-top: -3px;
	margin-left: -3px;
	background-color: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: rot-back-inner 8s infinite linear;
	-moz-animation: rot-back-inner 8s infinite linear;
	-o-animation: rot-back-inner 8s infinite linear;
	animation: rot-back-inner 8s infinite linear;
}
.round-5 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-top: -3px;
	margin-left: -3px;
	background-color: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: rot-inner 28s infinite linear;
	-moz-animation: rot-inner 28s infinite linear;
	-o-animation: rot-inner 28s infinite linear;
	animation: rot-inner 28s infinite linear;
}


@-webkit-keyframes rot {
	from {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
}

@-moz-keyframes rot {
	from {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
}

@-o-keyframes rot {
	from {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
}

@keyframes rot {
	from {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
}

@-webkit-keyframes rot-back {
	from {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
}

@-moz-keyframes rot-back {
	from {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
}

@-o-keyframes rot-back {
	from {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
}

@keyframes rot-back {
	from {
		-moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
		transform: rotate(360deg) translate(-472px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
		transform: rotate(0deg) translate(-472px) rotate(0deg)
	}
}

@-webkit-keyframes rot-inner {
	from {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
}

@-moz-keyframes rot-inner {
	from {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
}

@-o-keyframes rot-inner {
	from {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
}

@keyframes rot-inner {
	from {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
}

@-webkit-keyframes rot-back-inner {
	from {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
}

@-moz-keyframes rot-back-inner {
	from {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
}

@-o-keyframes rot-back-inner {
	from {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
}

@keyframes rot-back-inner {
	from {
		-moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		-webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
		transform: rotate(360deg) translate(-437px) rotate(-360deg)
	}
	to {
		-moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
		-webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
		transform: rotate(0deg) translate(-437px) rotate(0deg)
	}
}
