//
// Responsive: Utility classes
// --------------------------------------------------

@media (min-width: 1441px) { //dekstop
}

@media (max-width: 1367px) {
}

@media (max-width: 1280px) {
}
@media (min-width: 1025px) {
	.fullpagecounter {
		display: none;
	}

	.hidindesktopfortablet, .hidindesktop--inlinefortablet {
		display: none !important;
	}
}

@media (max-width: 1024px) {

	.pagingInfo,
	.HudOverlay svg,
	.chapter-selector,
	.tiny-stars, .planet-big,
	.animated_circles, 
	#wrapper-footer,
	.featured_trailbazers a.arrowbtn:nth-last-child(2)  {
		display: none;
	}

	.fullpagecounter {
		display: block;
	}

	.featured_video--carousel_wrapper {
		width: 100%;
	}

	.hidindesktopfortablet, .hidindesktop--inlinefortablet {
		display: none !important;
	}
}

@media (max-width: 950px) {
}

@media (max-width: 910px) {
}

@media (max-width: 895px) {
}

@media (min-width: 769px) {

	.hidindesktop, .hidindesktop--inline {
		display: none !important;
	}

	.hidinmobile {
		display: block !important;
	}

	.hidinmobile--inline {
		display: inline-block !important;
	}
}


@media (max-width: 768px) {

	.hidinmobile, .hidinmobile--inline {
		display: none !important;
	}

	.hidindesktop {
		display: block !important;
	}

	.hidindesktop--inline {
		display: inline-block !important;
	}



	.featured_video--carousel_wrapper {
		margin: 30px auto;
		width: 100%;
		.featured_video--carousel {
			.double_arrow {
				display: inline-block !important;
				@include rotate(-90);

				&.arrow_down {
					@include rotate(90);
				}
			}

			.slick-list {
				display: inline-block !important;
				vertical-align: middle;
				width: 80%;
			}
		}
	}

	.featured_experiment--keywordsslider-wrapp {
		margin: auto;
		width: 85%;
	}

	.featured_experiment--keywordsslider {
		width: 100%;
		a {
			height: 350px;
		}
	}
}

@media (max-width: 680px) {
}

@media (max-width: 580px) {

	.fullpagecounter {
		bottom: 15%;
		right: 3.6%;
	}

	.scrolling { 
		bottom: 1%;
		right: 0;
		.headerbutt {
			span,
			.hexagon-icon svg {
				display: none;
			}
		}
	}

	h1 {
		font-size: 2.5rem !important;
	}

	h2 {
		font-size: 2rem;
	}

	.highlight {
		font-size: 1rem;
	}

	.site-menu {
		right: 1%;
		top: 1%;
	}

	.site-toplogin_btn {
		left: 1%;
		top: 1%;
	}

	.site-title a {

		.site-title-border--left {
			left: 80px;
		}

		.site-title-border--right {
			right: 80px;
		}

		.logo_img {
			width: 50%;
		}
	}

	.featured_video--carousel_wrapper{
		margin: 0 0 30px;

		.featured_video--carousel .double_arrow {
			vertical-align: 110px;
		}

		.featured_video--carousel .slick-list {
			margin: 0;
			vertical-align: unset;
		}

		.featured_video--carousel .slick-list {
			width: 70%;

			.post-thumbnail {
				height: 130px;
			}
		}
	}

	.double_arrow.big_arrow.arrow_left {
		left: -10%;
	}

	.double_arrow.big_arrow.arrow_right {
		right: -10%;
	}

	.genaero_explorer--carousel {
		margin: auto;
		width: 90%;
	}

	.menu__wrapper {
		position: absolute;
		top: 50%;
		left: 15px;
		width: calc(100% - 30px);
		transform: translate(0, -45%);
	}

	.menu-content.opened .menu-content__wrapper {
		width: 100%;

		.menu-content__nav .menu-content__list ol li a {
			font-size: 1.5rem;
		}
	}

}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 322px) {
}
