//
// Responsive: Utility classes
// --------------------------------------------------

@media (min-width: 1441px) {
}

@media (max-width: 1315px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 1090px) {
}

@media (max-width: 1050px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 950px) {
}

@media (max-width: 910px) {
}

@media (max-width: 895px) {
}

@media (max-width: 768px) {
	.ongoing_events .events_row--content div:not(:first-child), 
	.past_events .events_row--content div:not(:first-child) {
		text-align: left;
	}

	.page-template-sign-up, .page-template-login, .page-template-dashboard, .page-template-profile, .page-template-videos-list, .page-template-add-video, .page-template-submit-idea, .page-template-fav-videos, .page-template-fav-experiments {
		overflow-y: unset;

		.site-title {
			top: 0;
		}

		.sign-up-row, 
		.login-row, 
		.dashboard-row {
			height: auto;
			margin: 150px auto 100px;
		}
	}

	a#genaero-facebook-button {
		width: auto;
	}

	.HudOverlay {
		background-attachment: fixed;
		position: fixed;
	}

	.HudOverlay-dashboard {
		display: none;
	}

	.dashboard_content {
		background-color: transparent;
		height: 100%;
		overflow-y: initial;
		padding: 15px;
	}
}

@media (max-width: 680px) {
}

@media (max-width: 620px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 435px) {
}

@media (max-width: 420px) {
}

@media (max-width: 379px) {
}

@media (max-width: 360px) {
}

@media (max-width: 322px) {
}
