//
// Responsive: Utility classes
// --------------------------------------------------

@media (min-width: 1441px) { //dekstop
}

@media (max-width: 1367px) {
}

@media (max-width: 1280px) {
}
@media (min-width: 1025px) {
	.fullpagecounter {
		display: none;
	}

	.hidindesktopfortablet, .hidindesktop--inlinefortablet {
		display: none !important;
	}
}

@media (max-width: 1024px) {

	.pagingInfo,
	.HudOverlay svg,
	.chapter-selector,
	.tiny-stars, .planet-big,
	.animated_circles, 
	.home #wrapper-footer,
	.featured_trailbazers a.arrowbtn:nth-last-child(2)  {
		display: none;
	}

	.section[data-anchor="welcome"] {
		.HudOverlay {
			background-image: url("../img/imgbg_homepage-welcome.jpg");
		}
	}

	.section[data-anchor="featured_events"],
	.section[data-anchor="genaero_trailblazers"] {
		.HudOverlay:before {
			background-color: rgba(0, 0, 0, 0.51);
		}
	}

	.HudOverlay:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.51);
	}

	.fullpagecounter {
		display: block;
	}

	.featured_video--carousel_wrapper {
		width: 100%;
	}

	.hidindesktopfortablet, .hidindesktop--inlinefortablet {
		display: none !important;
	}
}

@media (max-width: 950px) {
	video {
		// display: none;
	}
}

@media (max-width: 910px) {
}

@media (max-width: 895px) {
}

@media (min-width: 769px) {

	.hidindesktop, .hidindesktop--inline {
		display: none !important;
	}

	.hidinmobile {
		display: block !important;
	}

	.hidinmobile--inline {
		display: inline-block !important;
	}
}


@media (max-width: 768px) {

	.hidinmobile, .hidinmobile--inline {
		display: none !important;
	}

	.hidindesktop {
		display: block !important;
	}

	.hidindesktop--inline {
		display: inline-block !important;
	}

	.featured_videohomepage,
	.sub_content {
		h1 {
			text-align: center;
		}
	}

	.featured_video--carousel_wrapper {
		// margin: 30px auto;
		margin: 0;
		vertical-align: 0;
		width: 100%;
		.featured_video--carousel {
			.double_arrow {
				display: inline-block !important;
				@include rotate(-90);

				&.arrow_down {
					@include rotate(90);
				}
			}

			.slick-list {
				display: inline-block !important;
				margin: 0 !important;
				vertical-align: middle;
				width: 80%;
			}
		}
	}

	.featured_experiment--keywordsslider-wrapp {
		margin: auto;
		width: 70%;
	}

	.featured_experiment--keywordsslider {
		width: 100%;
		a {
			height: 350px;
			margin: 0 auto 30px;
			text-align: center;
			width: 50%;
		}
	}

	.trailblazer--title {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) and (orientation: landscape) {

	body.home:before {
		content: "PLEASE VIEW IN PORTRAIT";
		background-color: black;
		color: white;
		z-index: 1000000;
		line-height: 100%;
		position: fixed;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 767px) {

	.featured_trailbazers {
		.post-thumbnail {
			height: 150px;
		}
		.mobileexcerpt {
			display: none;
		}
	}

	.juicer-feed.image-grid li.feed-item, .juicer-feed.slider .juicer-feed.hip li.feed-item {
		display: inline-block;
	}

	.submit_register--btn {
		border-left: none;
		padding-left: 0;
		margin-left: 0;
		text-align: center;
	}

	.singlepost--hud, .subpage--hud {
		padding: 100px 0 50px;
		height: auto;
	}

	.content--overflow + .single_main {
		padding-top: 0;
	}

	.single_experiment,
	.single_trailblazers {
		.single_experiment--methods,
		.single_trailblazers--profile,
		.single_experiment--materials, 
		.single_trailblazers--video  {
			height: auto;
		}
	}
}

@media (max-width: 576px) {

	.row.dashboard_user--stats {
		.total_favs, .total_videos {
			margin: 10px auto 0;
		}
	}

	a.menu_butt__close.headerbutt.close_butt {
		span {
			display: none;
		}
	}

	.fullpagecounter {
		bottom: 10%;
		font-size: 15px;
		right: 3.6%;

		.totalcount:before {
			width: 15px;
		}
	}

	.scrolling { 
		bottom: 1%;
		right: 0;
		.headerbutt {
			span,
			.hexagon-icon svg {
				display: none;
			}
		}
	}

	h1 {
		font-size: 2.5rem !important;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	.highlight {
		font-size: 1rem;
	}

	.menu_butt__close,
	.site-menu {
		right: 2%;
		top: 10px;
	}

	.site-title {
		top: 10px;
	}

	.site-toplogin_btn {
		left: 2%;
		top: 10px;
	}

	.site-title a {
		width: 270px;
		.site-title-border--left {
			left: 40px;
		}

		.site-title-border--right {
			right: 40px;
		}

		.logo_img {
			width: 70%;
		}
	}

	a#genaero-facebook-button {
		width: 100%;
	}

	.watch_video--typewriter {
		width: 250px;
	}

	.featured_experiment--keywordsslider a {
		height: 150px;
	}

	.featured_video--carousel_wrapper {
		margin: 0 0 30px;

		.featured_video--carousel .double_arrow {
			vertical-align: 110px;
		}

		.featured_video--carousel .slick-list {
			margin: 0;
			vertical-align: unset;

			.video_slide h3 {
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		.genaero_explorer--carousel .slick-list,
		.featured_video--carousel .slick-list {
			width: 70%;

			.post-thumbnail {
				height: 130px;
			}
		}
	}

	.featured_video--carousel_wrapper {
		vertical-align: unset;
	}

	.double_arrow.big_arrow.arrow_left {
		left: -10%;
	}

	.double_arrow.big_arrow.arrow_right {
		right: -10%;
	}

	.genaero_explorer--navigation {
		height: 110px;
	}

	.genaero_explorer--carousel {
		margin: auto;
		width: 80%;
	}

	.explorer_slide.slick-center.slick-current .post-thumbnail {
		margin: 0 auto;
		height: 100px;
		width: 100px;

		img {
			height: 100px;
			width: 100px;
		}
	}

	.menu__wrapper {
		position: absolute;
		top: 50%;
		left: 15px;
		width: calc(100% - 30px);
		transform: translate(0, -45%);
	}

	.menu-content.opened .menu-content__wrapper {
		width: 100%;

		.menu-content__nav .menu-content__list ol li a {
			font-size: 1rem;
		}
	}

	.featured_trailbazers {
		width: 80%;
		margin: auto;

		.animated_circles--wrapper .post-thumbnail {
			height: 150px;

			img{
				height: 150px;
			}
		}

		h2.trailblazer--name {
			font-size: 1.5rem;
			margin: 0;
		}
	}

	.featured-videos-section {
		.featured_experiment--card  {
			> a {
				font-weight: 600;
				display: inline-block;
				overflow: hidden;
				height: 150px;
				width: 150px;

				.post-thumbnail {
					height: 100%;
					background-position: center;
				}
			}

			.experiment--fav_link {
				left: 27%;
				right: unset;
				top: 8px;
				i {
					border-radius: 40px;
					font-size: 23px;
					line-height: 40px;
					width: 40px;
				}
			}

			.experiment_card--content {
				background-color: transparent;
				display: inline-block;
				margin-bottom: 0;
				padding: 0 15px;
				vertical-align: top;
				width: calc(100% - 155px);
			}

			.meta-date_fav {
				display: none;
			}
		}
	}

	.featured_experiment--card.col-xs-6 {
		width: 50%;

		.post-thumbnail {
			height: 150px;
		}

		.meta-keywords,
		.meta-date_fav {
			display: none;
		}

		.experiment--fav_link {
			top: 8px;
			i {
				border-radius: 40px;
				font-size: 23px;
				line-height: 40px;
				width: 40px;
			}
		}
	}

	.entry-share {
		background-color: #d1d1d1;
		.addthis_inline_share_toolbox {
			width: auto;
			margin: 10px auto;
			.at-icon-wrapper.at-share-btn {
				border-bottom: none !important;
				width: auto;
			}
		}
	}

	.single_experimentcaraousel--wrapper {
		width: 100%;

		.experiment--wrapperhidbar {
			overflow-y: scroll;
			width: calc(100% + 20px);

			.experiment--carousel {

				.double_arrow.small_arrow.arrow_left {
					left: -2%;
				}

				.double_arrow.small_arrow.arrow_right {
					right: 4%;
				}
			}
			.slick-list {    
				margin: 0 30px;
				width: 80%;
			}
		}
	}
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 375px) {
	.featured_video--carousel_wrapper {
		.featured_video--carousel {
			.slick-list {
				width: 60%;
			}
		}
	}
}
